<div class="home-banner">
  <p>
    <h1 id="banner-typed-text"></h1>
  </p>
</div>

<div class="jumbotron">
  <h1 class="display-4">Our Home Page!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
</div>


<div class="logo"></div>

<!-- generate garbage content -->

<div class="container">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eos, doloremque suscipit, consequatur similique aspernatur, error eveniet tempore optio hic quae minus! Esse rem, vel commodi minima voluptates quos architecto molestiae? Odit quibusdam perspiciatis fugiat facere minus! Iusto, nobis doloremque id eos accusamus exercitationem aliquid esse quidem quod ipsa eaque sapiente omnis labore, alias fugit aspernatur totam distinctio magni in sit placeat? Odio neque illum modi, error deleniti ea, assumenda debitis consequuntur minus pariatur reprehenderit? Sit nam neque voluptas beatae quis? Reprehenderit sint a libero eligendi debitis architecto. Aperiam alias eligendi dolore modi eos, natus ea et beatae ullam ex?</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora qui dignissimos ipsam ratione libero, doloremque dolor iure quae ea numquam, repellendus distinctio impedit modi voluptatibus! Esse rem in eos dicta ea, accusamus vero facilis ducimus totam laudantium enim quod, assumenda ad ex iure nobis perspiciatis quibusdam corrupti neque repudiandae, et molestias. Fugiat ab natus laboriosam facilis asperiores eaque molestias minus aliquam sunt nesciunt error placeat, ut cum pariatur inventore magni reprehenderit quod provident eius rem id voluptatem quibusdam sed. Praesentium consequuntur voluptate in impedit autem nihil quae ex exercitationem pariatur ipsum quibusdam eum iure eius, laudantium delectus quod animi beatae tempore, deserunt at doloremque. Laborum animi officia eum hic, quia debitis accusantium provident. Laudantium fuga quam exercitationem quae reprehenderit tenetur, consequatur voluptates cum sunt non quisquam! Molestias, iure officiis reiciendis recusandae minus dicta voluptatum nisi dolorum numquam veritatis error adipisci excepturi fugit perspiciatis eos quasi! Corrupti suscipit reiciendis eaque doloremque repudiandae? Rem, totam harum maiores, cum enim blanditiis quisquam cupiditate error quidem ducimus mollitia sed quaerat aperiam tenetur accusantium, doloribus quibusdam. Aliquam veritatis obcaecati, aliquid recusandae voluptas est harum voluptatibus? Eaque laborum rem nemo, ad ut eligendi officia laudantium! Quisquam, officiis. Magni facilis amet, dolores neque aspernatur deserunt aliquid magnam consequuntur voluptates a tempora beatae quas ex quia? Sapiente perspiciatis dolorum quaerat autem cupiditate illum maxime nisi laudantium suscipit? Nisi quae rerum, modi minus ipsam velit placeat distinctio totam cum pariatur nemo. Ex quae alias accusamus iste dicta nisi ullam ab fuga consequuntur atque enim cupiditate, obcaecati, sunt fugit ea sint ratione inventore? Aliquam optio eum, alias cum repellat repudiandae recusandae tempora, saepe magni, sint ea? Consequatur omnis placeat nulla accusamus, voluptates qui praesentium eligendi obcaecati ducimus natus iste enim nisi aspernatur dolores ratione vero aliquam earum. Nihil eos recusandae quam fuga rerum, sint dolor delectus harum, nam deleniti veniam suscipit nobis minus obcaecati cumque! Pariatur deleniti ad reiciendis. Voluptatibus fuga iusto quos deserunt ipsa assumenda vitae repudiandae consequatur sequi omnis, id debitis aspernatur fugiat officiis magnam eveniet perspiciatis vel rem quo totam velit corrupti libero voluptate perferendis! Eveniet nam consequuntur velit iure amet vel, quas delectus, eaque aliquid aliquam excepturi reiciendis repellat possimus inventore voluptatum beatae laborum voluptates eos cumque veritatis molestiae obcaecati. Officiis totam libero ratione molestias et at quo suscipit dolores odio excepturi fugiat illo ullam amet sapiente, placeat blanditiis aperiam tempore ex itaque modi voluptas dicta dolor nesciunt. Modi iure autem nobis at commodi, fugiat esse placeat nemo quia cumque eaque fugit exercitationem, voluptatem ad numquam cum distinctio explicabo. Debitis fugiat explicabo sed ad quidem provident optio tenetur fuga minima culpa veniam dolor minus quisquam voluptate quod, amet sapiente officiis aspernatur. Nisi, ex quod! Fuga corporis eligendi ut repellendus hic fugit esse at, molestias quo, laudantium magni asperiores accusamus eveniet corrupti debitis qui. Excepturi aliquam id voluptatem nesciunt quisquam nulla consectetur quaerat quasi et, tenetur cum, ducimus molestias, velit harum eos labore quas amet quo assumenda distinctio unde rem nemo adipisci illo! Corrupti quidem libero officia dicta qui inventore, eius asperiores corporis quae doloremque architecto quaerat.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum non atque iste saepe dolorum obcaecati iure! A aliquam omnis possimus, quo aperiam et cumque earum adipisci suscipit tempore odit tempora, ea impedit deserunt quidem, atque officiis? Labore nulla nostrum porro quaerat officiis minima ipsum neque, soluta dicta? Beatae tempore rem totam repellat quidem consectetur harum voluptate at quisquam quae, nam inventore eaque laborum, dignissimos vitae cum ullam perspiciatis expedita eius, similique magnam ipsam. Nulla assumenda soluta similique a, facere totam expedita perferendis pariatur neque! Reiciendis reprehenderit sed similique repellendus nulla sint, tempora rerum. Saepe alias sunt nemo, eius, nulla optio dolorem aperiam pariatur ea corporis consectetur quam itaque consequuntur esse veritatis vitae cumque, illum natus mollitia obcaecati. Debitis rem mollitia, qui architecto nisi facilis libero veniam ea, commodi cumque recusandae hic numquam eaque repellendus ipsam at adipisci sed dolorem maxime nobis aperiam nam eos ut magnam. Odio, debitis voluptatibus mollitia, aliquam natus animi, fugiat excepturi eveniet tempore facere culpa accusamus quidem perspiciatis odit sequi optio et error perferendis! Praesentium magnam molestiae magni neque quo rerum sunt deserunt, odio impedit aliquid reiciendis quas? Sunt sapiente animi mollitia velit, ullam dolores quasi explicabo facere unde praesentium, illo atque exercitationem voluptates molestias consectetur, recusandae hic accusantium eius iste impedit iure odio beatae doloremque. Culpa, suscipit? Earum dolorum minus recusandae a, distinctio nam eaque debitis tenetur autem in exercitationem optio necessitatibus libero laboriosam voluptate atque expedita quibusdam doloremque deserunt maxime numquam, sunt eos odio ratione. Eligendi a numquam error, dolorum sed, quam repellendus totam debitis adipisci nisi eius quis ab temporibus natus at magni minus. Neque hic optio deserunt, dolores doloribus adipisci ut consequuntur maxime? Dolorem, iusto cum! Nulla quo dolor corporis! Hic mollitia ducimus eveniet, est iste inventore tenetur, quia consequatur beatae reprehenderit eius dolores. Sequi sapiente sunt mollitia quidem quo. Quaerat, repudiandae dolor in mollitia placeat, inventore commodi eius deserunt temporibus nam vel magnam! Placeat provident quas laboriosam quos earum, veniam accusantium odio non. Voluptates tempora commodi magnam perspiciatis est vero impedit molestiae dolore. Voluptates earum, ad adipisci, harum eum odio quasi porro neque officiis distinctio delectus nemo, recusandae quia amet! Necessitatibus labore, voluptates deserunt quod a molestiae sit natus accusantium ut architecto illo voluptatum autem quae similique ipsum debitis magni atque libero? Quidem at maiores ducimus consectetur. Quas aut tenetur tempora, porro cupiditate consectetur, eum inventore, ipsam optio temporibus voluptatem atque totam quidem! Aut illum, praesentium voluptates quia quam rerum quod optio maiores corporis id sit, omnis soluta provident dicta incidunt! Maxime ipsam ducimus eius error reprehenderit, totam nam! Amet atque nulla quia ullam quidem soluta inventore ab aliquam odio, quas officia iure, mollitia, debitis porro. Ullam sint dolorem laudantium dolor amet quas ut rerum sapiente corrupti non. Eligendi nam quasi quibusdam, eveniet tenetur nobis maiores dignissimos asperiores, laborum fugit odit mollitia. Quibusdam maxime alias minus. Ipsum dignissimos consequatur consequuntur eaque voluptatem ex aut, corrupti accusamus laudantium, id impedit delectus iste. Tempore eligendi vero a harum voluptas tempora nobis itaque animi unde vitae quis non labore, in hic ratione explicabo assumenda!</p>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
